#gocrawly { padding:10px; margin:10px; background:#eee; border-radius:10px; box-shadow:2px 2px 15px #666; color:#999; position:absolute; right:0; top:0; width:400px; z-index:9999999 }

#gocrawly .page { font:11px Helvetica, Arial; padding:1px; margin:1px; }
	#gocrawly .page a { color:#39c}
	#gocrawly .page ul { margin:0 0 0 10px; padding:0 }
		#gocrawly .page li { margin:0; padding:0; list-style:none }
			#gocrawly .page li a { color:#9cf; font-size:10px }
#gocrawly .queued { background:#999; color:#666 }
#gocrawly .running { background:#ccc; color:#696 }
#gocrawly .done { color:#666 }
#gocrawly .error { background:#fcc }
#gocrawly .resources { display:none; overflow:hidden }
#gocrawly .time { padding:0 4px; }

#gocrawly .depth_1{ padding-left:0 }
#gocrawly .depth_2{ padding-left:10px }
#gocrawly .depth_3{ padding-left:20px }
#gocrawly .depth_4{ padding-left:30px }
#gocrawly .depth_5{ padding-left:40px }
#gocrawly .depth_6{ padding-left:50px }
#gocrawly .depth_7{ padding-left:60px }
#gocrawly .depth_8{ padding-left:70px }
#gocrawly .depth_9{ padding-left:80px }
#gocrawly .depth_10{ padding-left:90px }